PORT=5000
DATABASE_URL=your database connection string here

====================== FRONTEND PART ======================
FRONTEND_LOCAL_HOST = replace with your frontend host url (e.g., http://localhost:3000)
FRONTEND_PROD_HOST = replace with your frontend production host url

====================== BACKEND PART =======================
BACKEND_LOCAL_HOST = http://localhost:5000
BACKEND_PROD_HOST = replace with your backend production host url

====================== JWT CONFIGURATION =======================
JWT_SECRET_KEY = replace with your secret key
JWT_ACCESS_TOKEN_EXPIRES = 3600  # Token expiration time in seconds (e.g., 1 hour)

======================= Better Auth CONFIGURATION =======================
BETTER_AUTH_SECRET= replace with your Better Auth secret key
BETTER_AUTH_URL= replace with your Better Auth URL 

