PORT=5000
DATABASE_URL=postgresql://username:password@host:5432/database_name

FRONTEND_LOCAL_HOST=http://localhost:3000
FRONTEND_PROD_HOST=https://your-frontend-domain.com

BACKEND_LOCAL_HOST=http://localhost:5000
BACKEND_PROD_HOST=https://your-backend-domain.com


BETTER_AUTH_SECRET=your-32-character-minimum-secret-key-here
BETTER_AUTH_URL=http://localhost:5000


SLACK_WEBHOOK_URL=https://hooks.slack.com/services/T00000000/B00000000/XXXXXXXXXXXXXXXXXXXX

CLAUDINARY_CLOUD_NAME=your-cloud-name-from-claudinary-dashboard
CLAUDINARY_API_KEY=your-api-key-from-claudinary-dashboard
CLAUDINARY_API_SECRET=your-api-secret-from-claudinary-dashboard


SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your-gmail-address@gmail.com
SMTP_PASS=your-16-character-app-password-from-google-account
SMTP_FROM=noreply@platera.com

GOOGLE_CLIENT_ID=your-google-cloud-console-oauth-client-id
GOOGLE_CLIENT_SECRET=your-google-cloud-console-oauth-client-secret


EMAIL_FROM=noreply@platera.com

# Super Admin Credentials for seeding
SUPER_ADMIN_NAME=Super Admin
SUPER_ADMIN_EMAIL=superadmin@platera.com
SUPER_ADMIN_PASSWORD=SuperAdmin123!

# Admin Credentials for seeding
ADMIN_NAME=Admin
ADMIN_EMAIL=admin@platera.com
ADMIN_PASSWORD=Admin123!


SSLCOMMERZ_STORE_ID=your-sslcommerz-store-id
SSLCOMMERZ_STORE_PASSWORD=your-sslcommerz-store-password
SSLCOMMERZ_IS_LIVE=false
# SSLCommerz calls this URL after payment
SSLCOMMERZ_IPN_URL=http://localhost:5000/api/payment/ipn
# After payment, SSLCommerz redirects here
SSLCOMMERZ_SUCCESS_URL=http://localhost:3000/payment/success
SSLCOMMERZ_FAIL_URL=http://localhost:3000/payment/fail
SSLCOMMERZ_CANCEL_URL=http://localhost:3000/payment/cancel

SSLCOMMERZ_API=https://sandbox.sslcommerz.com/gwprocess/v4/api.php
SSLCOMMERZ_VALIDATION_API=https://sandbox.sslcommerz.com/validator/api/validationserverAPI.php
